* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
}
.top-section {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.top-height {
    height: 80vh;
}

.top-pic{
    background-image: url("./assets/Homepage_Masthead_Test_DESKTOP_3200x1320-v4c_6.16.20.jpg");
    background-size: cover;
}

.center-text {
    text-align: center;
}

.login-link {
    align-self: flex-end;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 30px 30px 100px 0px;
    font-weight: 600;

}

.free-trial-button {
    height: 40px;
    width: 3px;
   align-self: center;
    /*this broke the flex box*/
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.banner {
    background: linear-gradient(270deg, #0F495C 0%, #08141F 100%);
    height: 150px;
    padding: 0px 40px; 
}

.banner-image {
    /* height: 50px; */
    width: 350px;
}

.middle-column {
    display: flex;
    flex-direction: column;
    
    
}

.third-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-image-fit {
    max-width: 100%;
    height: auto;
}

.subHeadingOne{
    line-height: 30px;
    color: white; 
    font-size: 22px;
}
.subHeadingTwo{
    line-height: 26px;
    color: white; 
    font-size: 16px;
    font-weight: 400;
}

.legal{
    line-height: 16px;
    color: white; 
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
    
}

.bundle{
    color: rgb(45, 189, 157);
    line-height: 13px;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
}

.getHulu{
    color: white;
    line-height: 32px;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0px;
}

.moreDetails{
    color: white;
    font-size: 14px;
    font-weight: 400;
    opacity: 0.7;
    text-decoration: underline;
}

.getBundle{
    border: 2px solid white;
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    padding: 0 32px;
    background: none;
    height: 56px;
    letter-spacing: 1px;
}

.termsApply{
    color: white;
    font-size: 10px;
    line-height: 24px;
    opacity: 0.7;
    text-align: center;
}

.freeTrial{
    border-radius: 4px;
    padding: 20px 0px;
    background: #fff;
    height: 56px;
    letter-spacing: 1px;
    width: 260px;
    margin-bottom: 20px;
    line-height: 10px;
    border: none;
}

.trialButton {
    text-transform: uppercase;
    color: #040505;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

