.top-section {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.center-text {
    text-align: center;
}

.login-link {
    align-self: flex-end;

}

.free-trial-button {
    height: 40px;
    width: 300px;
   align-self: center;
    /*this broke the flex box*/
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.banner {
    background: linear-gradient(270deg, #0F495C 0%, #08141F 100%);
}

.banner-image {
    height: 50px;
}

.middle-column {
    display: flex;
    flex-direction: column;
    
}

.third-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-image-fit {
    max-width: 100%;
    height: auto;
}

.top-pic {
   
}
